.container-main-flex
{
    border: 2px solid green;
    display:flex;
    -ms-flex-align: start;
    align-items:flex-start;
    align-content: center;
    flex-direction: column;
    max-width: 800px;
    max-height: 800px;
}
.container-menor
{
    display: flex;
    margin-left: 10px;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
#atualizar-saldo
{
    color: lightgray;
    background-color: white;
    margin: 5px;
}
#limpar-saldo
{
    color: lightgray;
    background-color: white;
    margin: 5px;

}
.titulo
{
    margin:5px;
}

